@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-VariableFont_opsz\,wght.ttf");
}

@font-face {
  font-family: "Material Symbols";
  font-style: normal;
  src: url("../fonts/MaterialIcons-Regular.ttf");
}
