@import url("./fonts.css");
@import url(./catppuccin/latte.css);
@import url(./global.css);

#app {
  width: 100vw;
  height: 100vh;
  background: var(--ctp-base);
  color: var(--ctp-text);
  font-family: "Inter", sans-serif;

  display: flex;
  flex-flow: column;
  align-items: center;

  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.section {
  scroll-snap-align: start;
  flex-shrink: 0;

  width: 50vw;
  min-height: 100vh;
  padding: 3rem;
  display: flex;
  flex-flow: column;
}

.section .section-header {
  margin-bottom: 1.5rem;
}

#home {
  justify-content: center;
}

#home .profile-photo {
  width: 96px;
  height: 96px;
  border-radius: 50%;
}

#home ul,
#contacts ul {
  list-style-type: none;
}

#theme-switcher {
  position: fixed;
  top: 1rem;
  right: 1rem;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  font-size: 1.25em;
  vertical-align: -0.25em;
}

.icon-ms {
  font-family: "Material Symbols";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

.text-primary {
  color: var(--ctp-lavender);
}

.me-2 {
  margin-right: 0.5rem;
}

@media screen and (max-width: 960px) {
  .section {
    width: 100%;
  }
}
