@import url("./fonts.css");
@import url(./catppuccin/latte.css);
@import url(./global.css);

body {
  background: var(--ctp-base);
  color: var(--ctp-text);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.section {
  width: 50vw;
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  flex-flow: column;
}

#home {
  justify-content: center;
}

#home .profile_photo {
  width: 96px;
  height: 96px;
  border-radius: 50%;
}

#home ul,
#contacts ul {
  list-style-type: none;
}

#theme-switcher {
  position: fixed;
  top: 1rem;
  right: 1rem;
}

@media screen and (max-width: 960px) {
  .section {
    width: 100%;
  }
}
