@import url("./fonts.css");
@import url(./catppuccin/latte.css);
@import url(./global.css);

#app {
  width: 100vw;
  height: 100vh;
  background: var(--ctp-base);
  color: var(--ctp-text);
  font-family: "Inter", sans-serif;
  font-size: 18px;

  display: flex;
  flex-flow: column;
  align-items: center;

  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.section {
  scroll-snap-align: start;
  flex-shrink: 0;

  width: 50vw;
  min-height: 100vh;
  padding: 3rem;
  display: flex;
  flex-flow: column;
}

.section .section-header {
  margin-bottom: 1.5rem;
}

#home {
  justify-content: center;
}

#home .profile-photo {
  width: 96px;
  height: 96px;
  border-radius: 50%;
}

#home ul,
#contacts ul {
  list-style-type: none;
}

#theme-switcher {
  position: fixed;
  top: 1rem;
  right: 1rem;
}

@media screen and (max-width: 960px) {
  .section {
    width: 100%;
  }
}
