---
import ContentLayout from "../../layouts/ContentLayout.astro";
---

<ContentLayout pageId="music" pageTitle="Music - Favorite albums">
  <blockquote>
    <p>Bathrooms are for shitting after your first coffee and picking shrapnel out of your chest, not for... whatever this is.</p>
  </blockquote>

  <p><i>This site is still under construction. Check back later!</i></p>
</ContentLayout>
