@use "sass:map";
@use "./theme.scss";
@use "sass:color";

div[data-callout] {
  --callout-primary: var(--ctp-sky);

  margin-bottom: 1rem;
  border: 1px solid var(--callout-primary);
  border-radius: 4px;

  div[data-callout-title] {
    padding: 0.8rem 1rem;
    border-bottom: 1px dashed var(--callout-primary);
    font-weight: bold;
  }

  div[data-callout-body] {
    padding: 0.5rem 1rem;

    div[data-callout] {
      margin: 1rem 0;
    }
  }
}

html:has(.theme-light) {
  div[data-callout],
  div[data-callout-type="info"] {
    --callout-primary: var(--ctp-sky);

    div[data-callout-title] {
      background: color.adjust(
        color.to-space(map.get(theme.$themes, "light", "sky"), hsl),
        $lightness: 30
      );
    }
  }

  div[data-callout-type="success"],
  div[data-callout-type="prove"] {
    --callout-primary: var(--ctp-green);

    div[data-callout-title] {
      background: color.adjust(
        color.to-space(map.get(theme.$themes, "light", "green"), hsl),
        $lightness: 30
      );
    }
  }

  div[data-callout-type="alert"] {
    --callout-primary: var(--ctp-red);

    div[data-callout-title] {
      background: color.adjust(
        color.to-space(map.get(theme.$themes, "light", "red"), hsl),
        $lightness: 30
      );
    }
  }
}

html:has(.theme-dark) {
  div[data-callout],
  div[data-callout-type="info"] {
    div[data-callout-title] {
      --callout-primary: var(--ctp-sky);

      background: color.adjust(
        color.to-space(map.get(theme.$themes, "dark", "sky"), hsl),
        $lightness: 30
      );
    }
  }

  div[data-callout-type="success"] {
    --callout-primary: var(--ctp-green);

    div[data-callout-title] {
      background: color.adjust(
        color.to-space(map.get(theme.$themes, "dark", "green"), hsl),
        $lightness: 30
      );
    }
  }

  div[data-callout-type="alert"] {
    --callout-primary: var(--ctp-red);

    div[data-callout-title] {
      background: color.adjust(
        color.to-space(map.get(theme.$themes, "dark", "red"), hsl),
        $lightness: 30
      );
    }
  }
}
