* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

@for $i from 1 through 5 {
  h#{$i} {
    margin: 0;
  }
}

p {
  margin: 0;
  margin-bottom: 1rem;
}

a {
  color: inherit;
  text-decoration: underline dotted;

  &:hover {
    text-decoration: underline;
  }
}

q {
  font-style: italic;
}

hr {
  margin: 0;
  height: 1px;
  border: none;
  background: var(--ctp-text);
}
