// icon color classes
.theme-light {
  .rust {
    color: #000;
  }
}

.theme-dark {
  .rust {
    color: #fff;
  }
}

.cpp {
  color: #00599c;
}

.js {
  color: #f7df1e;
}

.python {
  color: #3776ab;
}

.go {
  color: #00add8;
}

.zig {
  color: #F7A41D;
}

.haskell {
  color: #5d4f85;
}
