@use "./global.scss";
@use "./theme.scss";
@use "./generators/margin.scss";
@use "./generators/text.scss";
@use "./icons.scss";
@use "./languages.scss";
@use "./quotes.scss";
@use "./callouts.scss";

html {
  background: #000;
}

html:has(body.theme-light), html:has(body.theme-dark) {
  background: var(--ctp-base);
}

body {
  position: relative;
  min-height: 100vh;
  background: var(--ctp-base);
  color: var(--ctp-text);
  font-family: "Inter", sans-serif;
}

.card {
  border: 1px solid var(--ctp-overlay0);
  border-radius: 8px;
}

.hr {
  border-left: 1px solid var(--ctp-text);
}
