---
interface Props {
  colored?: boolean,
  classes?: string[],
  title?: string
}

const { classes, colored, title } = Astro.props;
---
<svg class:list={["icon", { "text-lavender": colored }, classes]}>{ title && <title>{title}</title> }<slot /></svg>
