---
import { getCollection } from "astro:content";
import IndexLayout from "../layouts/IndexLayout.astro";
import MdIcon from "../components/icon/mdIcon.astro";

const posts = (await getCollection("blog")).sort((a, b) => {
  const getLastDate = (post: {
    data: { dates: { edited?: Date; publish: Date } };
  }) => {
    return (post.data.dates.edited ?? post.data.dates.publish).getTime();
  };

  return getLastDate(b) - getLastDate(a);
});
---

<IndexLayout posts={posts} rootUrl="/blog/posts/" page={{ id: "blog", title: "Blog" }}>
  <div slot="description">
    <p>
      Collection of thoughts, opinions and ideas. <a href="/rss/blog.xml"
        ><MdIcon>rss_feed</MdIcon></a>
    </p>
  </div>
</IndexLayout>
