---
import { getCollection, type CollectionEntry } from "astro:content";
import IndexLayout from "../layouts/IndexLayout.astro";
import MdIcon from "../components/icon/mdIcon.astro";
import type { PublishedPost } from "../types";

async function getPublishedPosts(): Promise<PublishedPost[]> {
  return (await getCollection("blog")).filter(p => p.data.dates) as PublishedPost[];
}

const posts = (await getPublishedPosts()).sort((a, b) => {
  const getLastDate = (post: PublishedPost) => {
    return (post.data.dates.edited ?? post.data.dates.publish).getTime();
  };

  return getLastDate(b) - getLastDate(a);
});
---

<IndexLayout posts={posts} rootUrl="/blog/" page={{ id: "blog", title: "Blog" }}>
  <div slot="description">
    <p>
      Collection of thoughts, opinions and ideas. <a href="/rss/blog.xml"
        ><MdIcon>rss_feed</MdIcon></a>
    </p>
  </div>
</IndexLayout>
