---
import MdIcon from "../components/icon/mdIcon.astro";
import SvgIcon from "../components/icon/svgIcon.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="wrapper">
    <div class="content-wrapper">
      <div>
        <img
          class="profile-photo"
          src="/img/profile.jpg"
          alt="Profile picture of an animated cat from a Ghibli studios movie"
        />
        <h1>itsmexxie</h1>
      </div>
      <div class="about">
        <p>
          Welcome to my site! Here you can read all about my interests,
          projects, thoughts and opinions (whenever I actually decide to finish
          it and put up some content…).
        </p>
        <p>
          Software developer by day, huge coffee and tea nerd by night.<br
          />Currently studying at <a
            href="https://www.mff.cuni.cz/"
            target="_blank">MFF, UK</a
          >. Based in Prague, Czech Republic.<br />
        </p>
        <p class="mb-0">🏳️‍🌈🏳️‍⚧️</p>
      </div>
      <div class="section">
        <h5 class="heading">Languages:</h5>
        <div id="languages">
          <div>
            <SvgIcon
              title="*grows ears and a tail, starts taking estrogen*"
              classes={["rust"]}
              }><use href="./icons/rust.svg#icon"></use></SvgIcon
            >
            <SvgIcon title="i hate segfaults" classes={["cpp"]}
              ><use href="./icons/cplusplus.svg#icon"></use></SvgIcon
            >
            <SvgIcon
              title="i don't particularly enjoy programming in this one, but I have spent the earlier years of my comp-sci journey with it and thus feel obligated to include it here"
              classes={["js"]}
              ><use href="./icons/javascript.svg#icon"></use></SvgIcon
            >
            <SvgIcon
              title="whenever I need to write a simple one-off script, I always reach for python (mainly due to my laziness)"
              classes={["python"]}
              ><use href="./icons/python.svg#icon"></use></SvgIcon
            >
          </div>
          <div class="hr"></div>
          <div>
            <SvgIcon
              title="I'm still learning this one, so I can't say more about it at the moment!"
              classes={["go"]}><use href="./icons/go.svg#icon"></use></SvgIcon
            >
            <SvgIcon
              title="I'm still learning this one, so I can't say more about it at the moment!"
              classes={["haskell"]}
              ><use href="./icons/haskell.svg#icon"></use></SvgIcon
            >
          </div>
        </div>
      </div>
      <div id="links" class="section">
        <h5 class="heading">Sections:</h5>
        <ul>
          <li>
            <a href="/blog"
              ><MdIcon classes={["me-2", ""]}>book_ribbon</MdIcon
              >Blog</a
            >
          </li>
          <li>
            <a href="/projects"
              ><MdIcon classes={["me-2", ""]}>construction</MdIcon
              >Projects</a
            >
          </li>
          <li>
            <a href="/music"
              ><MdIcon classes={["me-2", ""]}>album</MdIcon
              >Music</a
            >
          </li>
          <li>
            <a href="/contacts"
              ><MdIcon classes={["me-2", ""]}
                >alternate_email</MdIcon
              >Contacts</a
            >
          </li>
          <li>
            <a href="/homelab"
              ><MdIcon classes={["me-2", ""]}>science</MdIcon
              >Homelab</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</BaseLayout>

<style lang="scss">
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    margin-bottom: 0.5rem;
  }

  .wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .content-wrapper {
    width: 50vw;
    min-height: 100vh;
    padding: 3rem;
    justify-content: center;
    display: flex;
    flex-flow: column;
    gap: 1.5rem;
  }

  .section {
    .heading {
      margin-bottom: 0.5rem;
      font-style: italic;
    }
  }

  .profile-photo {
    width: 96px;
    height: 96px;
    border-radius: 50%;
  }

  .about {
    color: var(--ctp-subtext0);
  }

  #languages {
    display: flex;
    flex-flow: row;
    gap: 1rem;
  }

  @media screen and (max-width: 960px) {
    .content-wrapper {
      width: 100%;
    }
  }
</style>
