---
import ContentLayout from "../layouts/ContentLayout.astro";
---

<ContentLayout pageId="media" pageTitle="Media">
  <p>Warning: a lot of yuri and furry stuff (as is to be expected).</p>
  <h3>Shows</h3>
  <ul>
    <li>Arcane</li>
    <li>
      La casa de papel (Netflix can't make me call it by the english name)
    </li>
  </ul>
  <h3>Comics</h3>
  <ul>
    <li>
      <a
        href="https://www.webtoons.com/en/romance/night-owls-and-summer-skies/list?title_no=4747"
        >Night owls and summer skies</a
      >
    </li>
    <li>
      <a href="https://rickgriffinstudios.com/ah-club/comic/001/#comic-page"
        >A&H club</a
      > (yes, it is a little cringy at times, but I enjoyed it anyway)
    </li>
  </ul>
</ContentLayout>
