---
import ContentLayout from "../layouts/ContentLayout.astro";
---

<ContentLayout pageId="music" pageTitle="Music">
<div>
  <ul>
    <li>
      <a href="/music/favorites">Favorite albums (data heavy!)</a>
    </li>
  </ul>
</div>
</ContentLayout>
