---
import ContentLayout from "../layouts/ContentLayout.astro";
---

<ContentLayout pageId="music" pageTitle="Music">
  <blockquote>
    <p
      >- You know we're supposed to catch the bad guys, right?<br /><br />- I
      always do, usually.</p
    >
  </blockquote>

  <p><i>This site is still under construction. Check back later!</i></p>
</ContentLayout>
