---
import ContentLayout from "../layouts/ContentLayout.astro";
import SectionLayout from "../layouts/SectionLayout.astro";

---

<SectionLayout activePage="music" pageTitle="Music">
<h1 class="mb-3">Music</h1>
<div>
  <ul>
    <li>
      <a href="/music/favorites">Favorite albums</a>
    </li>
  </ul>
</div>
</SectionLayout>
