---
import ContentLayout from "../layouts/ContentLayout.astro";


---

<ContentLayout pageTitle="Není nálev jako nálev">
<p class="mb-3">Je váš nálev skutečně nálev?</p>

<table style="width: 100%;">
  <thead>
    <tr>
      <th>Druh</th>
      <th>Teplota</th>
      <th>Doba louhování (cca.)</th>
      <th>Metoda přípravy</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Nálev</td>
      <td>Vroucí voda (80°C - 100°C)</td>
      <td>3 - 15 minut</td>
      <td>Droga se přelije vroucí vodou a nechá se louhovat</td>
    </tr>
    <tr>
      <td>Odvar</td>
      <td>Vroucí voda</td>
      <td>10 - 15 minut</td>
      <td>Droga se ve vodě vaří</td>
    </tr>
    <tr>
      <td>Výluh</td>
      <td>Pokojová teplota (15°C - 25°C)</td>
      <td>Delší (v řádu hodin)</td>
      <td>Droga se ve vodě louhuje</td>
    </tr>
  </tbody>
</table>
</ContentLayout>
