---
import ContentLayout from "../layouts/ContentLayout.astro";
---

<ContentLayout pageId="recipes" pageTitle="Recipes">
  <blockquote>
    <p>It's a little crude, I'll admit. The base violence necessary for change.</p>
  </blockquote>

  <p><i>This site is still under construction. Check back later!</i></p>
</ContentLayout>
