---
import MdIcon from "./icon/mdIcon.astro";

import pages from "../pages/manifest.json";

interface Props {
  activePage?: string;
  hideInactiveItems?: boolean;
}

const { activePage } = Astro.props;
---

<div class="navbar">
  <ul class="navbar-nav">
    {
      pages.map((x) => (
        <li
          class:list={[
            "navbar-nav-item",
            {
              active: activePage === x.link.replace(/^\//, ""),
            },
          ]}>
          <a href={x.link}>
            <MdIcon classes={["me-2"]}>{x.icon}</MdIcon>{x.title}
          </a>
        </li>
      ))
    }
  </ul>
  <button id="toggle-navbar-nav">
    <MdIcon>arrow_drop_down</MdIcon>
  </button>
  <script>
    let navbarNavVisible = true;
    let toggleEl = document.getElementById("toggle-navbar-nav");

    if (toggleEl) {
      toggleEl.addEventListener("mousedown", toggleNavbarNav);
    }

    function toggleNavbarNav() {
      navbarNavVisible = !navbarNavVisible;
      document
        .querySelectorAll(".navbar-nav-item:not(.active)")
        .forEach((el) => {
          if (navbarNavVisible) {
            el.classList.remove("hidden");
          } else {
            el.classList.add("hidden");
          }
        });
    }
    toggleNavbarNav();
  </script>
</div>

<style lang="scss">
  ul {
    margin: 0;
    padding: 0;
  }

  .navbar {
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    padding: 1rem;
    background: var(--ctp-mantle);
    font-family: "SUSE Mono", sans-serif;
  }

  .navbar-nav {
    flex: 1 1 auto;
    list-style-type: none;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.25rem 1rem;
  }

  .navbar-nav-item {
    padding: 0.5rem;

    &.active {
      font-weight: bold;
      color: var(--ctp-lavender);
    }

    a {
      display: block;
    }
  }

  #toggle-navbar-nav {
    display: none;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
  }

  @media screen and (max-width: 992px) {
    .navbar {
      display: flex;
      flex-flow: row;
    }

    .navbar-nav {
      flex-flow: column;
    }

    .navbar-nav-item.hidden {
      display: none;
    }

    #toggle-navbar-nav {
      display: flex;
    }
  }
</style>
