---
import Chip from "../chip.astro";

interface Props {
  tagName: string,
  postCount?: number,
  rootUrl: string,
}

const { tagName, postCount, rootUrl } = Astro.props;
---

<Chip>
  <a href={`${rootUrl}/tag/${tagName}`}>
    #{tagName}&nbsp;
    { postCount && <span class="post-count">{postCount}</span> }
  </a>
</Chip>

<style lang="scss">
  @use "../../../node_modules/@catppuccin/palette/scss/latte";

  a, a:hover {
    text-decoration: none;
  }

  .post-count {
    color: var(--ctp-subtext0);
  }
</style>
