---
/**
 * Content layout which includes a navbar and some styling around content (padding, etc.).
 * Layouts which currently extend this layout:
 * - SectionLayout
 * - PostLayout
 */

import BaseLayout from "./BaseLayout.astro";
import Navbar from "../components/navbar.astro";

interface Props {
  pageId?: string;
  pageTitle?: string;
  fullscreen?: boolean;
}

const { pageId, pageTitle, fullscreen: fullscreen = false } = Astro.props;
---

<BaseLayout pageTitle={pageTitle}>
  <Navbar activePage={pageId} />
  <div class="content-wrapper">
    <div class:list={["content", { "fullscreen": fullscreen }]}>
      <slot name="before-header"></slot>
      <h1 class="mb-3">{pageTitle}</h1>
      <slot />
    </div>
  </div>
</BaseLayout>

<style lang="scss">
  .content-wrapper {
    overflow: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .content {
    padding: 2rem;
    width: 50vw;

    &.fullscreen {
      width: 100%;
    }
  }

  #bottom-navbar {
    display: none;
  }

  @media screen and (max-width: 1100px) {
    .content {
      width: 100%;
    }
  }
</style>
